@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.box{
  color: white;
  font-family: 'Poiret One';
  font-weight: bolder;
  background-color: rgba(0,0,0,.6);
  padding: 15px;
  margin: 0 auto;
  width: 350px;
  text-align: center;
  align-items: center;}

#user-city{font-size: 35px;}
#user-region{font-size: 25px;}

#icon{width: 200px;}

#currentWeather{font-size: 35px;}

body{
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.rain{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/rain.jpg);}
.snow{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/snow.jpg);}
.plus35{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/%2B35.jpg);}
.plus30{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/%2B30%2B35.jpg);}
.plus25{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/%2B25%2B30.jpg);}
.plus20{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/%2B20%2B25.jpg);}
.plus15{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/%2B15%2B20.jpg);}
.plus10{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/%2B10%2B15.jpg);}
.plus5{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/%2B5%2B10.jpg);}
.plus0{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/0%2B5-.jpg);}
.minus0{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-0-5.jpg);}
.minus5{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-5-10.jpg);}
.minus10{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-10-15.jpg);}
.minus15{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-15-20.jpg);}
.minus20{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-20-25.jpg);}
.minus25{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-25-30.jpg);}
.minus30{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-30-35.jpg);}
.minus35{
  background-image: url(https://raw.githubusercontent.com/RuslanSever/RuslanSever.github.io/master/-35.jpg);}
